@import "bootstrap-sprockets";
@import "bootstrap";

// Elements

html, body {
  height: 100%;
}

body {
  font-family: sans-serif;
  padding-top: 80px;
}

main {
  min-height: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eaeaea;
  height: 60px;
  padding: 0 15px;
}



// Classes

.main-logo {
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 400;
  font-size: 1.7em;
  color: #fff !important;
}

.footer-nav {
  display: flex;
  list-style: none;
  margin: 0;
}

.footer-nav li {
  margin: 0 10px;
}

footer p {
  margin: 0;
}
